.feature-list-container {
  .content-box {
    margin-top: 20px;
    .text-btn-con {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .text-btn {
        margin-right: 15px;
      }
      .update-home-page {
        word-break: break-all;
        margin: 0 0 0 20px;
      }
    }
  }
}
