.feature-list-container {
    .content-box {
      margin: 20px 0;
      .text-btn-con {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .text-btn {
          margin-right: 15px;
        }
        .update-home-page {
          word-break: break-all;
          margin: 0 0 0 20px;
        }
      }
    }
  }
  